@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import '@fontsource/fira-mono';

body {
  font-family: 'Fira Mono', monospace;
  background-color: #1e1e1e;
  min-height: 100vh;
  width: 100%;
}